@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Mulish";
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.travel{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero{
    font-size: 45px;
}
span{
    color: #FF5400;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.srch > ul{
    display: flex;
    gap: 50px;
}
.srch li{
    list-style: none;
}
.srch li a{
    text-decoration: none;
    color: #424247;
    transition: .3s ease;
}
.srch li a:hover{
    background-color: antiquewhite;
    padding: 3px;
    border-radius: 5px;

}
#home{
    color: #FF5400;
}
header{
    max-width: 1170px;
    margin: 0px auto;
}
.explore{
    text-align: center;
    /* background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png"); */
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}
.title{
    padding-top: 100px;
    font-size: 64px ;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #ffffff;
}
.discripsion{
    margin-top: 30px;
    color: #ffffff;
}
.menu{
    margin-bottom: 100px;
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    background-color: #ffffffa2;
    border-radius: 15px;
    margin-top: 50px;
}
.menu input,.now{
    width:   175px;
    height: 52px;
    padding-left: 10px;
    background-color: #ffffff;
    color: #131318;
    border-radius: 10px;
    margin-left: 30px;
    border: 0px;
}
#go{
    margin-left: 0px;
}
.now{
    background-color: #FF5400;
    color: #ffffff;
    border: 0px;
    width: 175px;
    height: 56px;
    cursor: pointer;
    transition: .8s;
}
.now:hover{
    background-color: rgb(218, 33, 187);   
}
main{
    max-width: 1170px;
    margin: 100px auto;
} 
.s1{
    display: flex;
    gap: 80px;
}
.plan{
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
}
h4{
    color: rgba(19, 19, 24, 0.7) ;
}
.short-note >ul li{
    padding-top: 20px;
    color: rgba(19, 19, 24, 0.7);
}
#read{
    margin-left: 0px;
    margin-top: 20px;
}
.choose{
    text-align: center;
    margin-bottom: 100px;
}
.s2{
    margin-top: 100px;
}
#center{
    position: relative;
    bottom: 200px ;
    left: 230px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
.pic img{
    width: 573px;
    height: 300px;
}
.pic{
    display: flex;
    gap: 40px;
}
.pix-2{
    display: flex;
    gap: 30px;
}
#Srilanka{
    position: relative;
    bottom: 200px ;
    left: 130px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
#Kashmir{
    position: relative;
    bottom: 200px ;
    left: 90px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
#Bangladesh{
    position: relative;
    bottom: 200px ;
    left: 200px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}

#Bangladesh:hover{
    color: #FF5400;
}
#Kashmir:hover{
    color: #FF5400;
}
#Srilanka:hover{
    color: #FF5400;
}
#center:hover{
    color: #FF5400;
}
.s3{
    margin-top: 100px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
}
.house{
    font-size: 40px;
    margin-bottom: 0px;
    color: #FF5400;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}
#location{
    color: #29CEF6;
}
#price{
    color: #E94444;
}
.house:hover{
    color: red;
}
#location:hover{
    color: blue;
}
#price:hover{
    color: brown;
}
.mid{
    font-size: 24px;
    font-weight: bold;
}
.box-1{
    width: 575px;
    height: 285px;
    background-color: rgba(251, 181, 99, 0.2);
    padding-left: 30px ;
    padding-top: 0px;
    border: 1px solid #FBB563;
    border-radius: 20px;
}
.box-2{
    width: 575px;
    height: 285px;
    background-color: rgba(41, 206, 246, 0.2);
    padding-left: 30px ;
    padding-top: 0px;
    border: 1px solid #29CEF6;
    border-radius: 20px;
}
.box{
    display: flex;
    gap: 30px;
}
.box-3{
    max-width: 575px;
    margin: 0px auto;
    background-color: rgba(233, 68, 68, 0.05);
    padding-left: 30px ;
    padding-top: 0px;
    border: 1px solid #E94444;
    border-radius: 20px;
    margin-top: 30px;
}
.s4{
    margin-top: 100px;
}
.Deal{
    text-align: center;
    margin-bottom: 50px;
}
.bg-img-1,.bg-img-3{
    background-image: url("../Images/Group\ 39.png");
    height: 500px;
    margin-bottom: 50px;
}
.bg-img-2{
    background-image: url("../Images/Group\ 40.png");
    height: 500px;
    margin-bottom: 50px;
}
.border-1{
    width: 580px;
    background-color: rgba(255, 255, 255, 0.801) ;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    left: 43%;
    top: 60px;
}
.border-2{
    width: 580px;
    background-color: rgba(255, 255, 255, 0.801) ;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    left: 5%;
    top: 70px;
}
.border-1 i{
    color: #FF5400;
}
.border-2 i{
    color: #FF5400;
}
.day{
    color: #5A5A5D;
}
.time{
    margin-top: 0px;
    display: flex;
    gap: 30px;
}
.max{
    margin-top: 0px;
    display: flex;
    gap: 30px; 
}
#book{
    margin-left: 0px;
}
.to{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.money{
    color: #FF5400;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.See-All-Packages{
    text-align: center;
}
.Packages{
    background-color: #FF5400;
    color: #ffffff;
    border: 0px;
    width: 215px;
    border-radius: 10px;
    height: 56px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .8s;
}
.Packages:hover{
    background-color: rgb(218, 33, 187);   
}

.s5{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.video{
    width: 610px;
    height: 425px;
}
.lost >ul li{
    padding-top: 20px;
    font-weight: bold;
}
#more{
    margin-top: 20px;
    margin-left: 0px;
}
.s6{
    margin-top: 100px;
    display: flex;
    gap: 50px;
}
.Newsletter{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 20px;
}
.letter{
    width: 475px;
    height: 422px;
    border: 1px solid #FF5400;
    border-radius: 20px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.letter h4{
    margin-bottom: 30px;
    width: 350px;
}
.letter hr{
    max-width: 395px;
    margin-left: 0px;
}
.email input{
    width:   390px;
    height: 52px;
    background-color: rgba(19, 19, 24, 0.05);
    color: #131318;
    border-radius: 10px;
    border: 0px; 
    margin-top: 30px;
    padding-left: 20px;
    margin-bottom: 0px;
    
}
#sub{
    background-color: #FF5400;
    border: 0px;
    width: 420px;
    color: #ffffff;
    transition: 0.8s ease ;
    cursor: pointer;
    margin-bottom: 0px;
}
#sub:hover{
    background-color: rgb(218, 33, 187); 
}
.save{
    text-align: center;
    width: 325px;
    height: 120px;
    border: 0px;
    background-color: #FF5400;
    color: #ffffff;
    border-radius: 10px;
    position: relative;
    left: 47%;
    bottom: 35%;
    transform: rotate(-18deg);
}

.Travel-com{
    padding-top: 30px;
    font-size: 24px;
    margin-bottom: 0px;
}
.save-up{
    margin-top: 0px;
    font-size: 32px;
    font-weight: bold;
}
footer{
    background-color: rgba(19, 19, 24, 0.05) ;
    text-align: center;
}
#foot{
    padding-top: 50px;
    padding-left: 40%;
}
.much{
    max-width: 800px ;
    margin: 0px auto;
}
.insta > ul li{
    list-style: none;
}
.insta a{
    text-decoration: none;
    color: #131318;
}
.insta > ul{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    font-size: 24px;
    padding-left: 43%;
    padding-right: 0px;
}
footer hr{
    max-width: 900px;
}
h6{
    padding-top: 30px;
    padding-bottom: 80px;
}


@media screen and (max-width:577px) {
    nav{
        flex-direction: column;
    }
    .srch>ul{
        gap: 20px;
    }
    .explore{
        max-width: 400px;
        margin: 0px auto;
        margin-top: 50px;
    }
    .title{
        padding-top: 30px;
        font-size: 22px;
    }
    .discripsion{
        font-size: 14px;
        padding: 5px;
    }
    .menu{
        max-width: 280px;
        margin: 0px auto;
        background-color: #ffffffa2;
        border-radius: 15px;
        margin-top: 20px;
    }
    .menu input,.now{
        width:   255px;
        height: 52px;
        gap: 30px;
        background-color: #ffffff;
        color: #131318;
        border-radius: 10px;
        border: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .now{
        background-color: #FF5400;
        color: #ffffff;
        border: 0px;
        width: 255px;
        height: 52px;
        cursor: pointer;
    }
    .s1{
        flex-direction: column;
        gap: 20px;
    }
    .element{
        padding-left: 25px;
        padding-right: 10px;
    }
    .mount{
        text-align: center;
    }
    .mount img{
        width: 340px;
        margin-left: 0px;
        margin-top: 0px;
    }
    #read{
        max-width: 175px;   
    }
    .plan{
        font-size: 20px;
        font-weight: bold;
    }
    .pictures{
        align-items: center;
        text-align: center;
    }
    .pictures img{
        width: 335px;
        height: 176px;
    }
    #down{
        margin-bottom: 0px;
    }
    .pic,.pix-2{
        flex-direction: column;
        gap: 0px;
    }
    #center,
    #Srilanka,
    #Kashmir,
    #Bangladesh{
        position: relative;
        bottom: 130px ;
        left: 160px;
        font-size: 20px;
        width: 80px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    #Bangladesh{
        position: relative;
        bottom: 130px ;
        left: 150px;
        font-size: 20px;
        width: 80px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .North-America{
        width: 140px;
        text-align: center;
        margin-bottom: 0px;
    }
    .box{
        flex-direction: column;
    }
    .box-1,
    .box-2,
    .box-3{
        max-width: 335px;
        margin: 0px auto;
        padding-left: 20px;
        padding-right: 10px;
    }
    .box-3{
        margin-top: 30px;
    }
    .house{
        font-size: 40px;
    }
    .mid{
        font-size: 20px;
    }
    .bg-img-1,
    .bg-img-2,
    .bg-img-3{
        max-width: 335px;
        margin: 0px auto;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .border-1,
    .border-2,
    .border-3{
        width: 250px;
        height: 297px;
        position: relative;
        top: 120px; 
        left: 15px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .time{
        flex-direction: column;
        gap: 0px;
    }
    .max{
        margin-top: 10px;
    }
    .day{
        margin: 0px;
        font-size: 16px;
    }
    .to{
        font-size: 20px;
    }
    #book{
        margin-top: 20px;
        width: 130px;
    }
    .money{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #overflow{
        width: 260px;
        height: 59px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .s5{
        flex-direction: column;
    }
    .lost{
        padding-left: 10px;
    }
    .video{
        width: 335px;
        height: 200px;
        margin: 0px auto;
    }
    #more{
        width: 175px;
    }
    .s6{
        flex-direction: column;
    }
    .letter{
        /* width: 335px;
        height: 355px; */
        max-width: 335px;
        margin: 0px auto;
        padding-top: 0px;
        padding: 20px;
        /* margin-left: 30px; */
        padding-bottom: 0px;
    }
    .email input{
        width:   250px;
        height: 48px;
        background-color: rgba(19, 19, 24, 0.05);
        color: #131318;
        border-radius: 10px;
        border: 0px; 
        margin-top: 30px;
        padding-left: 20px;
        margin-left: 30px;
    }
    .Newsletter{
        font-size: 20px;
        margin-bottom: 0px;
        /* width: 120px; */
        text-align: center;
    }
    #sub{
        background-color: #FF5400;
        border: 0px;
        width: 270px;
        color: #ffffff;
        margin-bottom: 0px;
    }
    .com img {
        max-width: 370px;
        margin-left: 20px;
    }
    .letter hr{
        width: 260px;
        margin-top: 40px;
        margin-left: 30px;
    }
    .letter h4{
        margin-bottom: 10px;
        width: 300px;
        text-align: center;
    }
    .save{
        text-align: center;
        width: 214px;
        height: 80px;
        border: 0px;
        background-color: #FF5400;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        left: 40%; 
        bottom: 140px;
        transform: rotate(-18deg);
    }
    .Travel-com{
        padding-top: 10px;
        font-size: 16px;
        margin-bottom: 0px;
    }
    .save-up{
        margin-top: 0px;
        font-size: 22px;
        font-weight: bold;
    }
    #last-itm{
        font-size: 30px;
    }
    #foot img{
        width: 30px;
        height: 30px;
    }
    #foot{
        gap: 10px;
        padding-left: 110px;
    }
    .insta > ul{
        padding-left: 28%;
        padding-right: 0px;
    }
    footer hr{
        max-width: 340px;
    }
} 



@media screen and (min-width:577px) and (max-width:992px){
    .s1{
        flex-direction: column;
        gap: 20px;
    }
    .mount img{
        margin-left: calc((50% - 1px)/2);
        margin-top: 50px;
    }
    .pictures{
        align-items: center;
        text-align: center;
    }
    .pictures img{
        width: 700px;
        height: 400px;
    }
    .element{
        padding-left: 50px;
    }
    #read{
        margin-left: 350px;
    }
    .pic,.pix-2{
        flex-direction: column;
        gap: 0px;
        margin-bottom: 0px;
        margin-left: 100px;
        margin-right: 0px;
        margin-top: 0px;
    }
    #center,
    #Srilanka,
    #Kashmir,
    #Bangladesh{
        position: relative;
        bottom: 270px ;
        left: 300px;
        font-size: 30px;
        width: 80px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .border-1{
        width: 500px;
        background-color: rgba(255, 255, 255, 0.801) ;
        border-radius: 20px;
        padding: 30px;
        position: relative;
        left: 10%;
        top: 60px;
    }
    .s5{
        flex-direction: column;
    }
    .lost{
        text-align: center;
    }
    .s6{
        flex-direction: column;
        align-items: center;
    }
    .save{
        text-align: center;
        width: 325px;
        height: 120px;
        border: 0px;
        background-color: #FF5400;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        left: 35%;
        bottom: 210px;
        transform: rotate(-18deg);
    }
    #foot{
        padding-left: 280px;
    }
}